#home-title {
    position: absolute;    
    left: 30%;    
}

#home-subtitle {
    position: absolute;    
    left: 40%;    
}

#description-and-nav {
    position: absolute;
    left: 0%;
    top: 22%;
    font-size: 0.85rem;
    width: 25%;
    text-align: left;    
}

#experience-section {
    transition: 0.1s;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 10px;    
}

#experience-section:hover {
    background-color: rgba(255, 255, 255, 0.198);
    outline: solid 1px #FFFFFF;
}

.marker {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #E4E3D2;
    transition: 0.2s;
}

.active-marker {
    color: rgb(255, 242, 0);
    font-size: 2rem;
}