#home-title {
    position: absolute;    
    left: 30%;    
}

#home-subtitle {
    position: absolute;    
    left: 40%;    
}

#description-and-nav {
    position: absolute;
    left: 0%;
    top: 22%;
    font-size: 0.85rem;
    width: 25%;
    text-align: left;    
}

#experience-section {
    transition: 0.1s;
}

#experience-section:hover {
    background-color: rgba(255, 255, 255, 0.198);
    border: solid 1px #FFFFFF;
    border-radius: 8px;
}