.line {
    border: solid 25px #3E9A6E;    
    padding: 40px;    
}

#line_1 {
    height: 2000px;    
    width: 1000px;
    border-radius: 200px;
    z-index: -50;
    position: absolute;
    top: 27%;
    left: 68%;
}

#line_2 {
    height: 100%;    
    border-radius: 150px;
}

#line_3 {
    height: 100%;    
    border-radius: 100px;
}

.circle {
    height: 400px;
    width: 400px;
    border-radius: 500px;
    z-index: -55;
    background-color: #A7CD75;
    position: absolute;
    top: 45%;
    left: 62%;
}