.App {
  text-align: center;
}

#gradient-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width:100%;
  height:100%;
  --gradient-color-1: #0A5C36; 
  --gradient-color-2: #0F5132; 
  --gradient-color-3: #144525;  
  --gradient-color-4: #18392B;
}
  