
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');

@layer components {
  .header {
    @apply text-7xl font-museomoderno text-light-green font-bold mb-6;
  }

  .subtitle {
    @apply text-3xl font-museomoderno text-light-green;
  }

  .description {
    @apply text-base font-museomoderno text-light-green;
  }
}

body {
  margin: 0;  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #041200;
  overflow-x: hidden;
}