#gradient-canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width:100%;
    height:100%;
    --gradient-color-1: #1c401c; 
    --gradient-color-2: #002e0c; 
    --gradient-color-3: #13582b;  
    --gradient-color-4: #0c160d;
}